<a href="https://colab.research.google.com/github/malaireumarianna/NLP/blob/main/nlp2_best_friends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!git clone https://github.com/malaireumarianna/NLP.git

Cloning into 'NLP'...
remote: Enumerating objects: 22, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 22 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (22/22), 2.00 MiB | 4.40 MiB/s, done.

In [18]:
import math
import shutil
shutil.move('/content/NLP/nlp2_best_friends.py', '/content/nlp2_best_friends.py')
from nlp2_best_friends import *
def calculatePMI (fileIn,  distance, enc="iso8859_2"):
    lines = []
    for line in open(fileIn, "r", encoding=enc).readlines():
        lines.append(line.strip())
    limit = 20 #limit of output to file
    cBigr = countNgram(createBigrams(lines,distance))
    cUnigr = countNgram(createUnigrams(lines))
    pmi = PMI(cUnigк, cBigr, 10.0) #10 is limit of appearence

    count = 0
    item0 = []
    item1 = []

    for item in pmi:
        count += 1
        if count > limit: break
        item0.append(item[0])
        item1.append(item[1])
    return item0, item1

In [19]:
import pandas as pd

CZ_table_close_bigrams = calculate('/content/NLP/TEXTCZ1.txt', 1)[0]
CZ_table_close_pmi = calculate('/content/NLP/TEXTCZ1.txt', 1)[1]
#,'EN PMI close', , columns=['EN bigrams']

data_table = pd.DataFrame(CZ_table_close_bigrams, columns=['CZ bigrams first word', 'CZ bigrams second word'])
pmi = pd.DataFrame(CZ_table_close_pmi, columns=['CZ PMI close'])
data_table['CZ PMI close'] = pmi['CZ PMI close']

data_table

   CZ bigrams first word CZ bigrams second word  CZ PMI close
0              Hamburger                     SV     14.288950
1                    Los                Angeles     14.062442
2                  Johna               Newcomba     13.762882
3                     Č.             Budějovice     13.633599
4                  série                    ATP     13.468968
5              turnajové                  série     13.434411
6                  Tomáš                  Ježek     13.428981
7                 Lidové                 noviny     13.329922
8               Lidových                  novin     13.271028
9              veřejného                 mínění     13.062442
10               teplota                  minus     12.981522
11                   Ján            Čarnogurský     12.955527
12               jaderné                 zbraně     12.955527
13                 Milan                 Máčala     12.897811
14              lidských                   práv     12.862877
15             společném                  státě     12.708434
16             akciových            společností     12.692492
17                 Pohár                   UEFA     12.625378
18        privatizačních               projektů     12.615677
19                George                  Bushe     12.603010

In [ ]:

CZ_table_far_bigrams = calculate('/content/NLP/TEXTCZ1.txt', 50)[0]
CZ_table_far_pmi = calculate('/content/NLP/TEXTCZ1.txt', 50)[1]
#,'EN PMI close', , columns=['EN bigrams']

data_table = pd.DataFrame(CZ_table_far_bigrams, columns=['CZ bigrams first word', 'CZ bigrams second word'])
pmi = pd.DataFrame(CZ_table_far_pmi, columns=['CZ PMI far'])
data_table['CZ PMI far'] = pmi['CZ PMI far']

data_table

   CZ bigrams first word CZ bigrams second word  CZ PMI far
0                  výher                  výher    9.855552
1                    žel                    žel    9.136361
2               Bělehrad                Benfica    8.951937
3                      h                teplota    8.900406
4                    13h                    13h    8.855552
5                    ODÚ                    VPN    8.826406
6               Sandžaku               Sandžaku    8.826406
7                 Petrof                 Petrof    8.785764
8                  Atény                Benfica    8.581987
9                    13h               zataženo    8.575444
10                   13h                  skoro    8.547430
11                   CIA                    CIA    8.504478
12               vychází                      h    8.485369
13                 výher                     IV    8.478483
14                   13h                     st    8.456456
15                pořadí                  výher    8.456456
16              Bělehrad                  Kyjev    8.439383
17                   IFS                    IFS    8.437841
18                    km                    žel    8.435146
19               Benfica               Bělehrad    8.366974

In [ ]:
EN_table_close_bigrams = calculate('/content/NLP/TEXTEN1.txt', 1)[0]
EN_table_close_pmi = calculate('/content/NLP/TEXTEN1.txt', 1)[1]
#,'EN PMI close', , columns=['EN bigrams']

data_table = pd.DataFrame(EN_table_close_bigrams, columns=['EN bigrams first word', 'EN bigrams second word'])
pmi = pd.DataFrame(EN_table_close_pmi, columns=['EN PMI close'])
data_table['EN PMI close'] = pmi['EN PMI close']

data_table

   EN bigrams first word EN bigrams second word  EN PMI close
0                     La                  Plata     14.169370
1                    Asa                   Gray     14.031867
2                  Fritz                 Muller     13.362016
3                  worth                  while     13.332869
4                  faced                tumbler     13.262480
5                  lowly              organised     13.216899
6                  Malay            Archipelago     13.110477
7               shoulder                 stripe     13.053893
8                  Great                Britain     12.914557
9                 United                 States     12.847442
10               English                carrier     12.525514
11             specially                endowed     12.401817
12                   Sir                      J     12.377364
13              branched                    off     12.377364
14                    de               Candolle     12.362016
15                mental              qualities     12.362016
16             Galapagos            Archipelago     12.344942
17                   red                 clover     12.323880
18                  self          fertilisation     12.316928
19            systematic               affinity     12.251833

In [ ]:
EN_table_far_bigrams = calculate('/content/NLP/TEXTEN1.txt', 50)[0]
EN_table_far_pmi = calculate('/content/NLP/TEXTEN1.txt', 50)[1]
#,'EN PMI close', , columns=['EN bigrams']

data_table = pd.DataFrame(EN_table_far_bigrams, columns=['EN bigrams first word', 'EN bigrams second word'])
pmi = pd.DataFrame(EN_table_far_pmi, columns=['EN PMI far'])
data_table['EN PMI far'] = pmi['EN PMI far']

data_table

   EN bigrams first word EN bigrams second word  EN PMI far
0                  dried                floated    8.735396
1                floated                  dried    8.647933
2                  dried             germinated    8.358427
3             avicularia              vibracula    8.313816
4                  dried                  dried    8.303285
5                eastern                Pacific    8.301843
6                 stripe               shoulder    8.216954
7                floated             germinated    8.210869
8                floated                floated    8.192254
9                  layer              hexagonal    8.165781
10              survival                fittest    8.139786
11                 dried                   days    8.097966
12                 heath                  heath    8.060835
13             dimorphic             trimorphic    8.060835
14                 geese                 webbed    8.028278
15                clover                 clover    8.026445
16               floated                   days    8.020487
17            germinated                  dried    7.943389
18               carrier                  faced    7.817858
19               CHAPTER                    THE    7.817858